DB_USER=admin
DB_PASSWORD=admin
DB_PORT=5432
GATEWAY_PORT=5000
REDIS_PORT=6379
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
ELASTICSEARCH_PORT=9200
GRAFANA_PORT=3000
OTEL_GRPC_PORT=4317
OTEL_HTTP_PORT=4318
SECRET_KEY=ThisIsAVeryLongSecretKeyThatIsAtLeast32BytesLong
JWT_ISSUER=apr1l1s_auth
JWT_AUDIENCE=apr1l1s_services
SEED_DEV_DATA=false
REDIS_CONNECTION=dobley.redis:6379
RABBITMQ_USER=admin
RABBITMQ_PASSWORD=admin
RABBITMQ_NOTIFICATION_QUEUE=dobley.notifications
TELEGRAM_BOT_TOKEN=
TELEGRAM_BOT_USERNAME=dobley_dev_bot
TELEGRAM_ALLOWED_CHAT_ID=
TELEGRAM_ALLOWED_USERNAME=
NOTIFICATION_CHANNEL=Telegram
NOTIFICATION_DESTINATION=
NOTIFICATION_USER_NAME=admin
DOBLEY_UI_URL=https://dobley.local/ui
DEFAULT_NOTIFY_BEFORE_DAYS=3
EXPIRATION_WATCH_INTERVAL_SECONDS=30
OTEL_EXPORTER_OTLP_ENDPOINT=http://dobley.otel-collector:4317
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
